@CHARSET "ISO-8859-1";

.container-fluid {
	padding: 40px 0 40px 0;
}


#resume-container {
	height: 100%;
}

.red-bar {
	width: 100%;
	height: 16px;
	background-color: #f22;
}

.grey-bar {
	width: 100%;
	height: 30px;
	background-color: #bbb;
}

.full-resume {
	height: 100%;
	padding: 10px 0 10px 0;
	border: 1px solid black;
}

#resume-header-container {
	padding: 20px 0;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #aaa;
}

#resume-header {
	margin: 0 auto;
	padding-left: 50px;
}

#header-name {
	font-family: 'Signika', cursive;
	font-size: 2.2em;
	margin-right: 20px;
	font-style: italic;
	font-weight: bold;
}

#header-title {
	font-family: 'Calibri', san-serif;
	font-size: 2em;
	font-style: italic;
	font-weight: bold;
	margin-right: 20px;
}

.cert-img {
	margin: 0 5px;
}

#pro-summary-container {
	padding-top: 14px;
	width: 100%;
}

.left-title {
	text-align: right;
	font-size: 1.3em;
	font-weight: 600;
	padding: 10px 20px 0 0;
	font-family: 'Signika', cursive;
}

.highlight-list {
	font-family: 'Calibri', san-serif;
	line-height: 18px;
}

.highlight-list li {
	margin-bottom: 4px;
}

#tech-skills-container, #experience-container, #education-container, #certification-container {
	margin: 45px 0;
	width: 100%;
}

.tech-skills-container table tr td {
	font-family: 'Calibri', san-serif;
	line-height: 18px;	
	border-color: #333;
}

#experience-container, #education-container, #certification-container {
	border-top: 1px solid #aaa;
	padding-top: 20px;
}

.job-list {
	padding-left: 10px;
}

.job-title {
	font-size: 1.3em;
	font-weight: bold;
	padding: 10px 0 0 0;
	font-family: 'Signika', cursive;
	color: red;
}

.job-location, .job-dates {
	font-size: 1.1em;
	padding: 10px 0 0 0;
	font-family: 'Signika', cursive;
}

.job-dates {
	float: right;
	color: white;
	background-color: red;
	padding: 2px 25px;
}
.job-highlight-title {
	clear: both;
	text-decoration: underline;
	font-weight: bold;
	font-family: 'Calibri', san-serif;
	padding: 10px 0;
}

.job-highlights, .environment-list {
	font-family: 'Calibri', san-serif;
	line-height: 18px;	
}

.job-environment-title {
	text-decoration: underline;
	font-weight: bold;
	font-family: 'Calibri', san-serif;
	padding: 10px 0;
}

.environment-list {
	padding: 10px 5px 0 20px;
	font-family: 'Calibri', san-serif;
	line-height: 18px;	
}

.ed-title {
	font-size: 1.3em;
	font-weight: bold;
	padding: 10px 0 0 0;
	font-family: 'Signika', cursive;
	color: red;
}

.ed-school {
	font-size: 1.1em;
	font-family: 'Signika', cursive;
	font-style: italic;
}

#certifications-list ul li {
	font-size: 1.1em;
	font-weight: bold;
	padding: 10px 0 0 0;
	font-family: 'Signika', cursive;
}

#certifications-list ul {
	padding-left: 20px;
}