/* thetaste-admin.css
	 For the user pages and the venue/products/posts pages
*/

#product-form-container {
	width: 600px;
	margin: 80px auto;
}

.fixed .venue.column-venue {
	width: 15% !important;
}

body.product_page_venue-view-products #venue-form-container,
body.posts_page_venue-view-posts #venue-form-container {
	text-align: center;
	width: 400px;
	margin: 40px auto;
}

body.product_page_venue-view-products #venue-form-container select,
body.posts_page_venue-view-posts #venue-form-container select,
body.post-php.post-type-product #venue-form-container select,
body.post-php.post-type-post #venue-form-container select,
body.post-new-php.post-type-product #venue-form-container select,
body.post-new-php.post-type-post #venue-form-container select,
body.edit-php.post-type-post #bulk-edit #venue-form-container select {
	margin: 10px auto;
}

body.edit-php.post-type-product #venue-form-container,
body.edit-php.post-type-post #venue-form-container {
	border: 1px solid lightgrey;
	padding: 4px;
}

body.edit-php.post-type-product #venue-form-container label,
body.edit-php.post-type-post #venue-form-container label,
body.post-new-php.post-type-product #venue-form-container label,
body.post-new-php.post-type-post #venue-form-container label {
	display: inline-block;
	width: 120px;
}

/* Post Venues metabox styling */
.post-venues-metabox-container {
	display: flex;
	justify-content: space-evenly;
}

.post-venues-metabox-container > div {
	flex-grow: 1;
	width: 50%;
	padding: 8px;
}

.post-venues-metabox-container .select-post-venues {
	border-right: 1px solid lightgrey;
}

.tt-chip {
	display: inline-block;
	height: 32px;
	font-size: 13px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.6);
	line-height: 32px;
	padding: 0 12px;
	border-radius: 16px;
	background-color: #e4e4e4;
	margin-bottom: 5px;
	margin-right: 5px;
}

.tt-chip .tt-icon {
	font-size: 18px;
	font-weight: 500;
	vertical-align: sub;
	cursor: pointer;
}

.post-venues-bulk-edit-container {
	padding: 8px;
	display: table-cell;
	width: 1100px;
}

.post-venues-metabox-container {
	width: 100%;
	border: 1px solid lightgray;
	margin: 20px 14px 8px 8px;
	padding: 6px;
}
