.pimage {
	font-size: 14pt;
}

.pimage img {
	vertical-align: text-bottom;
	margin-right: 15px;
}

.table-nbr {
	text-align: right;
}

#venue-form-container {
	text-align: center;
	width: 200px;
	margin: 100px auto;
}

.v-summary-container {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	column-gap: 4px;
	row-gap: 8px;
}
.v-summary-section {
	border: 1px solid lightgray;
}

.table-total-label {
	text-align: center;
	font-weight: bold;
}

/* style for scroll up arrow */
#topbutton {
	height: 50px;
	width: 50px;
	position: fixed;
	right: 85px;
	bottom: 25px;
	z-index: 1;
	display: none;
}

#topbutton i {
	font-size: 3em;
}

/* MODAL STYLES FOR AJAX SPINNER/MSG */
#taste-msg-box {
	width: 30%;
	margin: auto;
	position: fixed;
	top: 25%;
	left: 35%;
	height: 200px;
	background-color: #eee;
	color: #000;
	line-height: 1.625;
	border: 2px solid black;
	padding: 15px;
	text-align: center;
	display: none;
}
#taste-msg-box p {
	color: #52a5d1;
	font-weight: bold;
	font-size: 120%;
}

#taste-msg-text {
	margin-bottom: 50px;
}

#taste-modal-layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	z-index: 9999;
}
